.blog-impressum > .prose { padding-bottom: 3rem; }
.blog-impressum > .prose > h3 { visibility: hidden; }

.mode-dark .dark\:bg-brand-dark-grey-900 { background-color: #222830; }
.mode-dark .dark\:bg-brand-black { background-color: #222830; }
.mode-dark .blog-header { background-color: #222830; }
.mode-dark .text-brand-blue { color: #aabbcc; }
.mode-dark .dark\:border-brand-grey-800 { border-color: #222830; }
.mode-dark .blog-series { border-color: #38404c; }
.mode-dark .dark\:bg-brand-grey-900 { background-color: #1b2021; }

pre { border: 1px solid gainsboro; }
h2 { letter-spacing: 1px; display: inline-block; position: relative; z-index: 2; }
h2:before { content: ''; display: block; height: 14px; width: 104%; background: #88e0bb; position: absolute; bottom: 1px; z-index: -1; left: -2%; }
.mode-dark h2:before { content: ''; display: block; height: 10px; width: 104%; background: #027565; position: absolute; bottom: 1px; z-index: -1; left: -2%; }

strong { letter-spacing: 1px; display: inline-block; position: relative; z-index: 2; }
strong:before { content: ''; display: block; height: 9px; width: 100%; background: #b9f033; position: absolute; bottom: 7px; z-index: -1; left: 0; }
.mode-dark strong:before { content: ''; display: block; height: 2px; width: 100%; background: #ced100; position: absolute; bottom: 5px; z-index: -1; left: 0; transform: rotate(179deg); }

.mode-dark .prose a { color: #93b0ff; }

.prose pre { color: #373737; background-color: #ffffff; }

.hljs-params, .hljs-class .hljs-title { color: #166fc1; }
.mode-dark .hljs-params, .hljs-class .hljs-title { color: #68aff0; }

.hljs, .hljs-tag, .hljs-subst { color: #0e0e0e; }
.mode-dark .hljs, .hljs-tag, .hljs-subst { color: #f8f8f2; }
.mode-dark .prose pre { color: #e2e8f0; background-color: #222830; border-color: #45505e; }
.mode-dark .hljs-string, .mode-dark .hljs-type, .mode-dark .hljs-built_in, .mode-dark .hljs-builtin-name,
.mode-dark .hljs-selector-id, .mode-dark .hljs-selector-attr, .mode-dark .hljs-selector-pseudo, .mode-dark .hljs-addition,
.mode-dark .hljs-variable, .mode-dark .hljs-template-variable { color: #9db0ff; }
.mode-dark .hljs-code, .hljs-title, .hljs-section, .hljs-selector-class { color: #47cd92; }
.mode-dark .hljs-keyword, .hljs-selector-tag, .hljs-name, .hljs-attr { color: #ff82af; }

.hljs-string, .hljs-type, .hljs-built_in, .hljs-builtin-name,
.hljs-selector-id, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-addition,
.hljs-variable, .hljs-template-variable { color: #035af9; }

.blog-post-area { padding-top: 20px; }
.post-cover { border-radius: 8px; }
.mode-dark .border-brand-blue { border-color: #4c5869; }
.border-brand-blue { border-color: #e0e0e0; }
.button-transparent.active { color: #5c5c5c; }
.mode-dark .button-transparent.active { color: #949494; }
.mode-dark .button-primary { border-color: #c5c5c5; color: #eae7e7; }

.btn-reaction-spp:hover {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;  
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

.blog-post-detail-card { padding-top: 1rem; }

@media (min-width: 640px) {
  .blog-author-card { padding-top: 2rem; }
}

@media (min-width: 768px) {
  .blog-author-card { padding-top: 2rem; }
}

@media (min-width: 1024px) {
  .blog-author-card { padding-top: 3rem; }
  .blog-header { position: fixed; width: 100%; background: #fff; }
  .mode-dark .blog-header { position: fixed; width: 100%; }
  .blog-header + div { padding-top: 8.4rem; }
}

@media (min-width: 1280px) {
  .blog-author-card { padding-top: 2rem; }
  .blog-header + div { padding-top: 9.5rem; }
  .sticky { top: 90px !important; }
}

@media (min-width: 1600px) {
  .blog-author-card { padding-top: 1.5rem; }
}
