.blog-header + div { border-bottom: 1px solid #eee; }
.mode-dark .blog-header + div { border-color: #2d3748; border-color: rgba(45, 55, 72, 1); }
.mode-dark .prose a { color: #93b0ff; }
.blog-author-card { padding-top: 2rem; padding-bottom: 0; margin-bottom: 2.2rem; }
.blog-content-area { padding-top: 3rem; }
.blog-subscription-form { margin-bottom: 3rem; }
.blog-follow-wrapper { display: none; }
.blog-author-area-photo { border: 3px dotted #36c1a2; }
.mode-dark .button-primary { color: #fff; border-color: #fff; }

@media (min-width: 640px) {
  .blog-author-card { padding-top: 2rem; }
}

@media (min-width: 768px) {
  .blog-author-card { padding-top: 2rem; }
}

@media (min-width: 1024px) {
  .blog-author-card { padding-top: 3rem; }
  .blog-header { position: fixed; width: 100%; background: #fff; }
  .mode-dark .blog-header { position: fixed; width: 100%; background: #1c1c1c; }
  .blog-header + div { padding-top: 8.4rem; }
}

@media (min-width: 1280px) {
  .blog-author-card { padding-top: 2rem; }
  .blog-header + div { padding-top: 9.5rem; }
}

@media (min-width: 1600px) {
  .blog-author-card { padding-top: 1.5rem; }
}
